html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 6em;
    position: relative;
}

footer {
    bottom: 0;
    height: 6em;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

footer div img {
    margin: 0 15px;
}

#table1 {

}

.dashboard {
    margin-left: 2%;
    margin-top: 2%;
}

#admin-dashboard-wrapper .pane {
    width: 100%;
}



#selected-experiment	{
	width:100%;

}

#selected-experiment #table3	{
	max-width:100%;
}

/*---------Table management view experiments-----------*/

#experiment-results #zScores-container th, td	{
	overflow-y:scroll;
	max-width:100px;
}


#right-panel #experiment-results hr {
   height: 0.5em;

}

#delete-instruction {
    margin:auto;
}

#delete-instruction select  {
    width: 400px;
    overflow:scroll;
    min-height: 400px;
}

#field-delete-instruction #submit-delete-instruction, #delete-instruction-dialog {
    float:right;
    margin:2px;
}

.confirmon-box p {
    color: white !important;
}