html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 6em;
    position: relative;
}

footer {
    bottom: 0;
    height: 6em;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

footer div img {
    margin: 0 15px;
}

#table1 {

}

.dashboard {
    margin-left: 2%;
    margin-top: 2%;
}

#admin-dashboard-wrapper .pane {
    width: 100%;
}

/*#right-panel #experiment-results .header-list th   {*/
/*max-width: 10% !important;*/
/*overflow-x:scroll;*/

/*}*/

/*#selected-experiment    {*/
/*max-width: 70%;*/
/*}*/

#right-panel #experiment-results hr {
   height: 0.5em;

}
