html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 6em;
    position: relative;
}

footer {
    bottom: 0;
    height: 6em;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

footer div img {
    margin: 0 15px;
}

textarea    {
    font-size: 14px;
}

#table1 {

}

.dashboard {
    margin-left: 2%;
    margin-top: 2%;
}

#admin-dashboard-wrapper .pane {
    width: 100%;
}

#right-panel .manage-remove .icon-remove:hover {
    cursor:pointer;
}

#selected-experiment {
	width:100%;
}

#selected-experiment #table3 {
	max-width:100%;
}

/*---------Table management view experiments-----------*/

#experiment-results #zScores-container th, #zScores-container td	{
	overflow-y:scroll;
	max-width:100px;
}


#right-panel #experiment-results hr {
   height: 0.5em;

}

#delete-instruction {
    margin:auto;
}

#delete-instruction select  {
    width: 400px;
    overflow:scroll;
    min-height: 400px;
}

#field-delete-instruction #submit-delete-instruction, #delete-instruction-dialog {
    float:right;
    margin:2px;
}

.confirmon-box p {
    color: white !important;
}

/*--------------------------------------------
    Panel with the "Start Experiment" button
--------------------------------------------*/
#start-experiment-panel {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
    right: 0;
    left: 0;
    z-index: 200;
    border-top: 1px solid #bbb;
    display: none;
}

#bottom-panels {
    max-height: 300px;
    width: 1000px;
    margin: 20px auto;
    overflow: auto; /* clear floats */
    background: #fff;
}

#bottom-left-panel {
    float: left;
    width: 49%;
}

#bottom-right-panel {
    width: 49%;
    float: right;
    bottom: 0;
    padding: 10px 0;
}

#input-fields {
    margin: 15px 0;
}

#experiment-buttons {
    margin: 0 5%;
}
